:root {
  --main-blue: #285575;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

/* Header */
header {
  height: 8rem;
  padding: 0 14rem;

  display: flex;
  align-items: center;
  gap: 7.5rem;
}

header div {
  text-align: right;
  width: 100%;

  cursor: pointer;
}

/* Main Navigation (not yet working tho 😅 */
.main-nav {
  color: var(--main-blue);
  font-weight: 500;
  font-size: 1.6rem;

  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.logo {
  height: 6rem;
}

/* Main Section */
.banner {
  width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 10vw;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 1rem;
  border: none;
  width: 250px;
  height: 450px;
  padding: 2rem;
}

.card img {
  max-width: 100%;
  padding: 2rem 2rem 1rem 2rem;
}

.item-name-price {
  align-self: baseline;
}

.item-name {
  font-weight: 500;
  font-size: 1.8rem;
}

.item-price {
  color: var(--main-blue);
  font-weight: 500;
  font-size: 1.5rem;
}

.available-stock {
  width: 100%;
  display: inline;
  align-self: baseline;
  font-size: 1.2rem;
  margin-top: auto;
  font-style: italic;
  font-weight: 200;
}

.number-control {
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 300;
}

.number-left,
.number-right {
  color: black;
  width: 3rem;
  height: 3rem;
  font-size: medium;
  background-color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.number-quantity {
  text-align: center;
  padding: 0.7rem;
  border: 0;
  width: 100%;
}

.number-quantity:focus {
  outline-width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-left:hover,
.number-right:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn-cart {
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  background-color: var(--main-blue);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 7rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Button for closing the modal */
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* Semi tranparant overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* List header of the cart */
.cart-list-header {
  font-weight: 500;
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-list-header__product {
  width: 100%;
}

.cart-list-header__quantity {
  text-align: center;
  width: 20rem;
}

.cart-list-header__total {
  text-align: right;
  width: 20rem;
}

/* Line divider */
.divider {
  border: 1px black solid;
}

/* Item */
.cart-items {
  padding: 3rem 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-item__img-container {
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
}

.cart-item__img-container img {
  width: 7.5rem;
}

.cart-item__details {
  text-align: left;
  width: 100%;
}

.cart-item__details p:first-child {
  font-size: 1.4rem;
  font-weight: 300;
}

.cart-item__details p:last-child {
  font-size: 1.6rem;
  font-weight: 500;
}

.cart-item__quantity {
  width: 20rem;

  display: flex;
  gap: 1rem;
}

.cart-item__quantity img {
  cursor: pointer;

  transition: 0.1s;
}

.cart-item__quantity img:hover {
  filter: drop-shadow(0px 0px 1px grey);
}

.cart-item__total {
  columns: var(--main-blue);
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;

  width: 20rem;
}

/* Pricing section */
.price-details {
  font-size: 2rem;
  font-weight: 500;
  text-align: right;

  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
}

.price-details div p span {
  color: var(--main-blue);
  font-size: 2.4rem;
  font-weight: 700;
}

.price-details div p:last-child {
  font-size: 1rem;
  font-weight: 200;
}

.btn-checkout {
  color: white;

  background-color: var(--main-blue);
  width: fit-content;
  padding: 1rem 12rem;

  cursor: pointer;
}

/* Footer Section */
footer {
  background-color: var(--main-blue);
  color: white;
  padding: 4rem 14rem 1rem 14rem;
}

.footer {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.footer-image {
  padding: 1rem;

  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}

.footer-image p {
  margin: 0.25rem;
}

.footer-image p,
.footer-image div div p {
  font-size: 1.6rem;
}

.footer-list {
  /* padding: 2rem; */
  /* flex: 1 1 auto;
  text-align: center; */

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-list h4 {
  font-size: 2.3rem;
  font-weight: 700;
}

.footer-list ul {
  font-size: 1.6rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact {
  display: flex;
}

.contact p {
  margin-left: 0.8rem;
}

li {
  list-style: none;
}

.footer-box {
  border: 1px solid white;
}

.copyright {
  font-size: 1.6rem;

  margin-top: 1rem;
}

/* Class to hide certain element */
.hidden {
  display: none;
}
