:root {
  --main-blue: #285575;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", serif;
}

.number-control {
  width: fit-content;
  border: 1px black solid;
  border-radius: 0.3rem;

  display: flex;
  align-items: center;
}

.number-left,
.number-right {
  color: black;

  width: 2rem;
  height: 2.25rem;
  background-color: #fff;
  border-radius: 0.3rem;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.3s;
}

.number-quantity {
  text-align: center;

  padding: 0.25rem;
  border: 0;
  width: 5rem;
}

.number-quantity:focus {
  outline-width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-left:hover,
.number-right:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn-cart {
  color: white;
  font-weight: 500;
  font-size: 1.6rem;

  padding: 1rem 2rem;
  background-color: var(--main-blue);
  border: none;
  border-radius: 0.3rem;
}

.hidden {
  display: none;
}
