:root {
  --main-blue: #285575;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

main {
  display: flex;
  flex-wrap: wrap; /* Allow the items to wrap if there's not enough space */
  gap: 10px; /* Add space between items */
}

main > div {
  flex: 1 1 auto; /* Allow the divs to grow and shrink */
  min-width: 200px; /* Ensure they have some minimum width */
  padding: 10px; /* Add padding for better visibility */
  border: 1px solid #ccc; /* Optional: Add a border to make them visible */
}

.card {
  background-color: #F0F0F0;
  border-radius: 1rem;
  border: none;
}

.item-name {
  font-weight: 500;
  font-size: 1.5rem;
}

.item-price {
  color: #285575;
  font-weight: 500;
  font-size: 1rem;
}

.available-stock {
  display: inline-block;
}

.number-control {
  width: fit-content;
  border: none;
  border-radius: 0.3rem;

  display: flex;
  align-items: center;
}

.number-left,
.number-right {
  color: black;

  width: 2rem;
  height: 2.25rem;
  background-color: #fff;
  border-radius: 0.3rem;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.3s;
}

.number-quantity {
  text-align: center;

  padding: 0.25rem;
  border: 0;
  width: 5rem;
}

.number-quantity:focus {
  outline-width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-left:hover,
.number-right:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn-cart {
  color: white;
  font-weight: 500;
  font-size: 1.6rem;

  padding: 1rem 2rem;
  background-color: var(--main-blue);
  border: none;
  border-radius: 0.3rem;
}

.hidden {
  display: none;
}
